<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>Document</title>
</head>
<body>

    <div class="w-full bg-black min-h-screen text-white px-10 py-10">
        <a href="/" class="mt-6 border-2 border-zinc-600 p-3 transition-transform inline-block hover:scale-110 cursor-pointer hover:bg-green-300 hover:text-black duration-300 hover:border-green-600 bg-zinc-800 font-semibold rounded ">Go Home</a>

        <form method="post" action="/create" class="flex flex-col w-[40%] items-center pt-4 ">
            <h1 class="pb-4 text-green-400 text-4xl font-bold ">Edit File Name : </h1>
 
            <input 
                class="bg-zinc-900 border-2 w-full border-gray-300 p-3 my-3 rounded" 
                type="text" 
                placeholder="Previous Name"
                name="oldTitle"
                value = <%= fname%>
            >

            <input 
                class="bg-zinc-900 border-2 mb-8 w-full border-gray-300 p-3 my-3 rounded" 
                type="text" 
                placeholder="New Name"
                name="newTitle"
            >

            <button class="bg-zinc-900 hover:scale-90 transition border-2 border-green-300 p-3 rounded font-semibold text-xl hover:bg-green-300 cursor-pointer hover:text-black">Confirm Edit</button>
        </form>
    </div>

</body>
</html>

