button{
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(99, 9, 209);
    border-radius: 5px;
    border: 2px solid grey;
    font-size: large;
    cursor: pointer;
}