*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
}

.card{
  background-color: blanchedalmond;
  margin: 20px;
  padding: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.cardComp{
  color: white;
  margin: 20px;
  border: 4px solid greenyellow;
  padding: 10px;
  border-radius: 5px;
}