@import "tailwindcss";

*{
    font-family: "Rubik";
}

body{
  background-color: black;
}

@keyframes shake {
  0%,100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateY(4px); }
  75% { transform: translateX(-4px); }
}