*{
  background-color: black;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  background: red;
  font-weight: 500;
  font-size: 20px;
  width:fit-content;
  margin:10px 0 10px 0;
  
}

.hero{
  display: flex;
  flex-direction: column;
}