*{
  background-color: black;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  background: red;
  font-weight: 500;
  font-size: 20px;
  width:fit-content;
  margin:10px 0 10px 0;
  
}

.hero{
  display: flex;
  flex-direction: column;
}

.inpt{
  padding: 5px 10px 5px 10px;
  margin: 20px 0 20px 0;
  width: fit-content;
  border : 3px solid white;
  border-radius: 5px;
}

.box{
  width: 150px;
  height: 150px;
  margin: 50px;
  background-color: red;
}

.page1{
  width: 100%;
  height: 100vh;
  background-color: greenyellow;
}
.page2{
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 17, 255);
}
.page3{
  width: 100%;
  height: 100vh;
  background-color: rgb(208, 0, 255);
}