*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line{
  width: 100%;
  height:4px;
  background-color: greenyellow;
}

button{
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
  font-weight: 500;
}