*{
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
  border: 2px solid greenyellow;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}