<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Practical</title>

    <!-- stylesheet link -->
    <link rel="stylesheet" href="stylesheets/index.css">

</head>
<body>

    <!-- script file link -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="/javascripts/first.js"></script>

    <h1 class="font-bold">Main Page of EJS</h1>
    <h2 class="uppercase"><%= name%></h2>
    <h2><%= 2+20%></h2>

</body>
</html>