*{
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
  border: 2px solid greenyellow;
  padding: 10px;
  background-color: wheat;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.nav1{
  display: flex;
  justify-content: space-between;
  background-color: greenyellow;
  height: 60px;
  align-items: center;
  padding-left: 10px;
  color: black;
}

.nav2{
  display: flex;
  gap: 15px;
  padding-right: 10px;
  font-size: 22px;
}