body{
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
  border: 2px solid greenyellow;
  padding: 10px;
  background-color: wheat;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}
