@import "tailwindcss";

body{
    background-color: black;
    color: white;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 150px;
    font-weight: 500;
    text-decoration: underline;
}