body{
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
  width: 400px;
  height: 400px;
  border: 2px solid greenyellow;
  padding: 50px;
}

.light{
  background-color: bisque;
  color: black;
}

.dark{
  background-color: rgb(32, 18, 0);
  color: white;
}

button{
  padding: 10px 15px;
  font-size: 20px;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

button:hover{
  background-color: greenyellow;
  color: black;
}